# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.metadata

# Generated Dart files
*.g.dart
*.freezed.dart
*.drift.g.part

# Generated plugin registrants
**/GeneratedPluginRegistrant.*
**/generated_plugin_registrant.*
**/generated_plugins.cmake

# Platform ephemeral files
linux/flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS specific
ios/Pods/
ios/.symlinks/
**/Pods/
**/xcuserdata/
